@media ( max-width:  768px)
  .header
    margin-bottom: 60px
    &__container
      max-width: 700px
    &__navigation
      &-list
        max-width: 700px
      &-text
        font-size: 12px
        line-height: 15px
    &__best-tour-plan
      width: 133px
      height: 18px
    &__search
      width: 340px
  .breadcrumb
    max-width: 700px
  .hotel
    &__container
      max-width: 700px
    &__description
      flex-wrap: wrap
    &-slider
      width: 100%
      margin-right: 0 !important
      margin-bottom: 30px
    &__price-and-place
      display: flex
      justify-content: space-between
    &__buy-block
      width: 340px
      margin-right: 20px
    &__map
      width: 340px
  .news-follow
    background-image: url(../img/subscribe-bg-image--768px.jpg)
    &__bg-image
      &--image
        display: none
      &--dark
        z-index: 0
    &__text
      z-index: 1
  .feedback
    &__title
      font-size: 30px
      line-height: 38px
    &__container
      max-width: 580px
      min-height: 300px
    &__request
      margin-top: 95px
    &-wrapper
      max-width: 700px
  .activities
    &__title
      margin-top: 120px
    &-wrapper
      flex-wrap: wrap
    &-container
      max-width: 700px
      margin-bottom: 50px
  .card
    margin-bottom: 20px
    &__image
      width: 340px
      justify-content: space-evenly
  .footer
    &-conatiner
      max-width: 700px
      grid-template: auto / repeat(3, 1fr)
      grid-gap: 40px
    &__socials
      grid-column: 2 / 4
      grid-row-start: 1
    &__best-tour-plan
      grid-row-end: 2
    &__categories
      grid-row-start: 2
    &__ps
      max-width: 700px
  .additional-information
    grid-row-start: 2
  .legal-information
    grid-row-start: 2
  .contacts
    grid-column: 1/4
    margin-top: 20px
  .send-message
    grid-column: 1/4
    max-width: 540px
    margin-top: 20px
  .space
    display: none
