.feedback
  background-color: $main-bgc-color
  padding-top: 40px
  &-wrapper
    position: relative
    +defoult-wight
  &__block
    +defoult-wight
    position: relative
  &__title
    margin-top: 0
    text-align: center
  &__container
    margin: auto
    max-width: 731px
  &__request
    border-radius: 8px
    position: relative
    background-color: #fff
    padding: 0 96px 30px 96px
    padding-right: 96px
    padding-left: 96px
    padding-bottom: 30px
    flex-basis: 72%
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 115px
  &__avatar
    position: absolute
    width: 90px
    height: 90px
    transform: translateY(-50%)
  &__link
    padding-top: 54px
    color: $accent
    text-decoration: none
    font-weight: bold
    font-size: 12px
  &__text
    font-size: 12px
    line-height: 160%
    text-align: justify
    color: #333333
  &__date
    font-size: 13px
    margin-top: 10px
  &__swiper
    &-button
      position: absolute
      top: 50%
      width: 30px
      height: 30px
      border: none
      transform: translateY(-50%)
      z-index: 99
      cursor: pointer
      background-repeat: no-repeat
      background-position: center
      background-size: 10px
      background-color: transparent
      &--next
        right: 0
        background-image: url(../img/arrow-next.svg)
      &--prev
        left: 0
        background-image: url(../img/arrow-prev.svg)
