.hotel
  font-family: Nunito, sans-serif
  margin-bottom: 70px
  &__container
    +defoult-wight
  &__path
    text-decoration: none
    color: #0A223D
  &__name
    margin: 4px 10px 0 0
    font-size: 24px
  &__subtitle
    margin: 0
  &__marks
    display: flex
    align-items: center
  &__flash-offer
    padding: 3px 9px
    background-color: $accent
    color: #fff
    border-radius: 3px
    font-size: 10px
  &__subtitle
    font-size: 12px
  &__short-description
    display: flex
    justify-content: space-between
    padding-top: 24px
    padding-bottom: 20px
  &__rate
    background-color: $accent
    width: 65px
    height: 45px
    color: #fff
    border-radius: 4px
  &__user-rate-text
    font-size: 8px
    padding: 9px 6px 16px 7px
  &__user-rate
    font-size: 14px
    padding: 21px 17px 6px 17px
  &__description
    display: flex
  &__buy-block
    background-color: #0A223D
    width: 350px
    height: 210px
    padding: 27px
    color: #fff
    border-radius: 6px
    display: flex
    flex-wrap: wrap
    margin-bottom: 27px
  &__slider
    margin-right: 30px
  &__price
    flex-basis: 50%
  &__person-room
    flex-basis: 50%
    text-align: right
  &__quick-booking
    flex-basis: 100%
  &__price
    display: flex
    flex-direction: column
  &__guests
    margin-bottom: 8px
  &__quick-booking
    display: flex
    justify-content: space-between
  &__view-options
    color: #fff
    border-radius: 4px
    width: 100%
  &__slider
    width: 728px
    &-button
      position: absolute
      top: 50%
      width: 30px
      height: 30px
      border: none
      transform: translateY(-50%)
      z-index: 99
      cursor: pointer
      background-repeat: no-repeat
      background-position: center
      background-size: 10px
      background-color: transparent
      &--next
        right: 18px
        background-image: url(../img/arrow-right.svg)
      &--prev
        background-image: url(../img/arrow-left.svg)
        left: 18px
  &-slider
    width: 728px
    height: 450px
    margin-left: 0 !important
    margin-right: 30px !important
    position: relative
    border-radius: 8px
    &::after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: 10
      background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
.price-log
  font-size: 10px
.price
  font-size: 24px
.for-time
  font-size: 12px
.star
  width: 8px
  height: 8px
